<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>de.leanovate.alfred.layout</string>
	<key>connections</key>
	<dict>
		<key>328173F0-A7F1-4EA9-BE6B-47353EAF5010</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4109C8CA-8D0F-4B02-A658-9D6CB5630508</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>691EF607-FFE2-44E8-A264-F2D570686AAB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4109C8CA-8D0F-4B02-A658-9D6CB5630508</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Bodo Junglas</string>
	<key>description</key>
	<string>Yet another layouter</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Layout</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>62</integer>
				<key>script</key>
				<string>if [ "{query}" = "togglefullscreen" ]; then
	/usr/bin/osascript togglefullscreen.scpt
else
    /System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/bin/ruby layout.rb "{query}"
fi</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4109C8CA-8D0F-4B02-A658-9D6CB5630508</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>3</integer>
				<key>argumenttext</key>
				<string>0.1,0.1,0.9,0.9</string>
				<key>hotkey</key>
				<integer>0</integer>
				<key>hotmod</key>
				<integer>0</integer>
				<key>hotstring</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>328173F0-A7F1-4EA9-BE6B-47353EAF5010</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>lay</string>
				<key>script</key>
				<string>/usr/bin/python layout_select.py "{query}"</string>
				<key>subtext</key>
				<string>Layout window</string>
				<key>title</key>
				<string>Layout window</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>691EF607-FFE2-44E8-A264-F2D570686AAB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>328173F0-A7F1-4EA9-BE6B-47353EAF5010</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>4109C8CA-8D0F-4B02-A658-9D6CB5630508</key>
		<dict>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>691EF607-FFE2-44E8-A264-F2D570686AAB</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
